<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <div class='body-wrapper'>
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
<!--单击显示文字-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/666WXY666/cdn/js/click_show_text.js"></script>
<!--鼠标点击烟花爆炸效果-->
<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/666WXY666/cdn/js/fireworks.js"></script>
<!--Live2D看板娘-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/gh/666WXY666/cdn/other/live2d/autoload.js"></script>
<!--浏览器搞笑标题-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/666WXY666/cdn/js/FunnyTitle.js"></script>